<div class="mx-auto rounded-lg w-4/5 md:w-2/5 max-h-[400] h-[400px] mt-10">
   <div style="display: flex; justify-content: space-between; align-items: center;" class="xs:w-full rounded-lg bg-yellow-500 max-h-[90] h-[90px]">
       <h1 class="font-extrabold text-[30px] bg-gradient-to-r text-transparent bg-clip-text from-blue-600 to-red-500">Blhack's app</h1>
       <mat-icon>search</mat-icon>
   </div>
   <div class="overflow- overflow-x-hidden overflow-y-hidden max-h-[350] h-[350px]  element mt-2">
        <div class="flex "> 
            <div class="w-20 h-20 rounded-full overflow-hidden">
                <img src="../assets/avatar.png" class="w-full h-full object-cover" alt="Votre image" />
            </div>
            <div class=" h-20 overflow-hidden ">
                <h1 class="mt-4"><strong class="mt-8"> Ivana Médecin </strong></h1>
                <p>je suis toujours là pour toi !</p>
            </div>
        </div>
        <div class="flex"> 
            <div class="w-20 h-20 rounded-full overflow-hidden">
                <img src="../assets/avatar.png" class="w-full h-full object-cover" alt="Votre image" />
            </div>
            <div class=" h-20 overflow-hidden">
                <h1 class="mt-4"><strong class="mt-8"> Ivana Médecin </strong></h1>
                <p>je suis toujours là pour toi !</p>
            </div>
        </div>
        <div class="flex"> 
            <div class="w-20 h-20 rounded-full overflow-hidden">
                <img src="../assets/avatar.png" class="w-full h-full object-cover" alt="Votre image" />
            </div>
            <div class=" h-20 overflow-hidden">
                <h1 class="mt-4"><strong class="mt-8"> Ivana Médecin </strong></h1>
                <p>je suis toujours là pour toi !</p>
            </div>
        </div>
        <div class="flex"> 
            <div class="w-20 h-20 rounded-full overflow-hidden">
                <img src="../assets/avatar.png" class="w-full h-full object-cover" alt="Votre image" />
            </div>
            <div class=" h-20 overflow-hidden">
                <h1 class="mt-4"><strong class="mt-8"> Ivana Médecin </strong></h1>
                <p>je suis toujours là pour toi !</p>
            </div>
        </div>
        <div class="flex"> 
            <div class="w-20 h-20 rounded-full overflow-hidden">
                <img src="../assets/avatar.png" class="w-full h-full object-cover" alt="Votre image" />
            </div>
            <div class=" h-20 overflow-hidden">
                <h1 class="mt-4"><strong class="mt-8"> Ivana Médecin </strong></h1>
                <p>je suis toujours là pour toi !</p>
            </div>
        </div>
        <div class="flex"> 
            <div class="w-20 h-20 rounded-full overflow-hidden">
                <img src="../assets/avatar.png" class="w-full h-full object-cover" alt="Votre image" />
            </div>
            <div class=" h-20 overflow-hidden">
                <h1 class="mt-4"><strong class="mt-8"> Ivana Médecin </strong></h1>
                <p>je suis toujours là pour toi !</p>
            </div>
        </div>
    </div>

</div>